<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="language" content="en-US">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>中科院开源协会</title>
		<link rel="alternate" type="application/rss+xml" title="Latest Blog Articles RSS Feed" href="/blogfeeds/latest.rss">
		<link rel="alternate" type="application/atom+xml" title="Latest Blog Articles Atom Feed" href="/blogfeeds/atom/latest.xml">
		<link rel="shortcut icon" type="image/ico" href="/static/img/favicon.png">
		<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen">
		<!--[if lte IE 6]>
		<script type="text/javascript">
		function correctPNG() // correctly handle PNG transparency in Win IE 5.5 & 6.
		{
		   var arVersion = navigator.appVersion.split("MSIE")
		   var version = parseFloat(arVersion[1])
		   if ((version >= 5.5) && (document.body.filters))
		   {
		      for(var i=0; i<document.images.length; i++)
		      {
		         var img = document.images[i]
		         var imgName = img.src.toUpperCase()
		         if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
		         {
		            var imgID = (img.id) ? "id='" + img.id + "' " : ""
		            var imgClass = (img.className) ? "class='" + img.className
		+ "' " : ""
		            var imgTitle = (img.title) ? "title='" + img.title + "' "
		: "title='" + img.alt + "' "
		            var imgStyle = "display:inline-block;" + img.style.cssText
		            if (img.align == "left") imgStyle = "float:left;" + imgStyle
		            if (img.align == "right") imgStyle = "float:right;" + imgStyle
		            if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
		            var strNewHTML = "<span " + imgID + imgClass + imgTitle
		            + " style=\"" + "width:" + img.width + "px; height:" +
		img.height + "px;" + imgStyle + ";"
		            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
		            + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>"
		            img.outerHTML = strNewHTML
		            i = i-1
		         }
		      }
		   }
		}
		window.attachEvent("onload", correctPNG);
		</script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="header">
			  <div id="headleft">
				<a href="/static/img/test.html"><img border="0" src="/static/img/osclub_logo.png" alt="中科院开源协会" title="中科院开源协会"></a>
			  </div>
			  <div id="headright">
				<div id="topnavbox">
				  <ul>
					  <li><a href="/"><img src="/static/img/home.png" alt="网站首页" title="网站首页"><br>网站首页</a></li>
					  <li><a href="/blog"><img src="/static/img/blog.png" alt="博客" title="博客"><br>协会博客</a></li>
					  <li><a href="https://groups.google.com/forum/?hl=zh-CN&fromgroups#!forum/open-cas"><img src="/static/img/group.png" alt="Group" title="Google group"><br>加入我们</a></li>
					  <li><a href="http://page.renren.com/601444426"><img src="/static/img/focus.png" alt="关注我们" title="关注我们"><br>关注我们</a></li>
					  <li><a href="/comment"><img src="/static/img/msg.png" alt="站内留言" title="站内留言"><br>站内留言</a></li>
					  <li><a href="/about"><img src="/static/img/about.png" alt="关于本站" title="关于本站"><br>关于本站</a></li>
				  </ul>
				</div>
				<div id="declaration">
				  <img border="0" src="/static/img/osclub.png" height="40" alt="中科院开源协会" title="中科院开源协会"/><br/>
				  <div style="color: white;">如果我们的民族、我们的国家支持自由软件，弘扬自由软件精神，那么我们的民族软件产业何至于当今之现状？</div>
				</div>
			  </div>
			</div>
			<div id="mainbody">
				<div class="section">
					<h2>关于本协会</h2>
					<p>中科院开源协会主要承办的开源活动</p>
					<ol>
						<li>2006年，中国科学院首届"开源软件大赛"在中国科学院研究生院中关村园区隆重举行。本次大赛由中国科学院团委、中国科学研究生院团委主办，中国科学院开源协会联合承办。
						大赛收到了来自中科院各院所和全国高校的大量优秀参赛作品。正如倪光南院士在这届大赛中所说：开源软件促进了软件业的创新。
						此次大赛为广泛传播开源精神，推动开源运动在中国的发展书写了崭新的一页。</li>
						<li>2007年，协会再次承办了中国科学院"第二届开源软件大赛"。“春华秋实”，大赛开始于春暖花开的三月。从筹划到开幕，从报名到作品提交，从评审到决赛，
						大赛走过了六个月的历程，并在金秋九月结出了累累硕果。</li>
						<li>2010年，“龙芯杯”中国科学院开源软件设计大赛在北京拉开帷幕，此次大赛由龙芯俱乐部、龙芯梦兰发起，中国开源软件推进联盟指导，共创软件联盟等多家开源单位主办，
						中科院开源协会、龙芯智见、亚嵌教育、中标软件协办。大赛举办后，全国各地有100多个参赛团队提交了参赛作品，其参赛队伍来自清华大学、中国科学技术大学学等国内几十所高校。
						大赛作品的网络评选活动到2011年4月份才结束，并最终评审出了许多优秀参赛作品。</li>
					</ol>
					<p>总之，开源协会始终奉行着“智慧共享，世界共赢”的原则，让更多的人体会到开源带来的无穷乐趣。</p>
					<p>关于本协会的更多活动，请见<a href="https://groups.google.com/forum/?hl=zh-CN&fromgroups#!forum/open-cas">中科院开源协会Google group</a>和
					<a href="http://page.renren.com/601444426">中科院开源协会人人公共主页</a></p>
				</div>
				<div class="section">
					  <h2>关于本站</h2>
					  <p>贡献者：Bone、Spark。</p>
					  <p>搭建平台：Redhat openshift、django blog</p>
					  <p>评论系统：Disqus</p>
				</div>		  
				<div class="section">		  
					  <h2>加入我们</h2>
					  <p><a href="https://groups.google.com/forum/?hl=zh-CN&fromgroups#!forum/open-cas">中科院开源协会Google group</a></p>
					  <p><a href="http://page.renren.com/601444426">中科院开源协会人人公共主页</a></p>
					  <p>协会邮箱：<a href="#">osclubofcas@gmail.com</a></p>
				</div>				
				<div class="section">		  
					<h2>外部链接</h2>
					<p class="nowrap"><a href="http://www.fsf.org/">自由软件基金会</a></p>
					<p class="nowrap"><a href="http://www.gnu.org/">GNU主页</a></p>
					<p class="nowrap"><a href="http://stallman.org/">stallman 先生的个人主页</a> </p>
					<p class="nowrap"><a href="http://www.oss.org.cn/">中国开源软件推进联盟</a> </p>
					<p class="nowrap"><a href="http://www.oschina.net/">开源中国社区</a> </p>
				</div>
			</div>
			<div id="footer">
				<center>© 2012 中科院开源软件协会 | Chase freedom and share your wisdom.</center>
			</div>
		</div>
	</body>
</html>
