<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="language" content="en-US">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>中科院开源协会</title>
		<link rel="alternate" type="application/rss+xml" title="Latest Blog Articles RSS Feed" href="/blogfeeds/latest.rss">
		<link rel="alternate" type="application/atom+xml" title="Latest Blog Articles Atom Feed" href="/blogfeeds/atom/latest.xml">
		<link rel="shortcut icon" type="image/ico" href="/static/img/favicon.png">
		<link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen">
		<!--[if lte IE 6]>
		<script type="text/javascript">
		function correctPNG() // correctly handle PNG transparency in Win IE 5.5 & 6.
		{
		   var arVersion = navigator.appVersion.split("MSIE")
		   var version = parseFloat(arVersion[1])
		   if ((version >= 5.5) && (document.body.filters))
		   {
		      for(var i=0; i<document.images.length; i++)
		      {
		         var img = document.images[i]
		         var imgName = img.src.toUpperCase()
		         if (imgName.substring(imgName.length-3, imgName.length) == "PNG")
		         {
		            var imgID = (img.id) ? "id='" + img.id + "' " : ""
		            var imgClass = (img.className) ? "class='" + img.className
		+ "' " : ""
		            var imgTitle = (img.title) ? "title='" + img.title + "' "
		: "title='" + img.alt + "' "
		            var imgStyle = "display:inline-block;" + img.style.cssText
		            if (img.align == "left") imgStyle = "float:left;" + imgStyle
		            if (img.align == "right") imgStyle = "float:right;" + imgStyle
		            if (img.parentElement.href) imgStyle = "cursor:hand;" + imgStyle
		            var strNewHTML = "<span " + imgID + imgClass + imgTitle
		            + " style=\"" + "width:" + img.width + "px; height:" +
		img.height + "px;" + imgStyle + ";"
		            + "filter:progid:DXImageTransform.Microsoft.AlphaImageLoader"
		            + "(src=\'" + img.src + "\', sizingMethod='scale');\"></span>"
		            img.outerHTML = strNewHTML
		            i = i-1
		         }
		      }
		   }
		}
		window.attachEvent("onload", correctPNG);
		</script>
		<![endif]-->
	</head>
	<body>
		<div id="container">
			<div id="header">
			  <div id="headleft">
				<a href="/static/img/test.html"><img border="0" src="/static/img/osclub_logo.png" alt="中科院开源协会" title="中科院开源协会"></a>
			  </div>
			  <div id="headright">
				<div id="topnavbox">
				  <ul>
					  <li><a href="/"><img src="/static/img/home.png" alt="网站首页" title="网站首页"><br>网站首页</a></li>
					  <li><a href="/blog"><img src="/static/img/blog.png" alt="博客" title="博客"><br>协会博客</a></li>
					  <li><a href="https://groups.google.com/forum/?hl=zh-CN&fromgroups#!forum/open-cas"><img src="/static/img/group.png" alt="Group" title="Google group"><br>加入我们</a></li>
					  <li><a href="http://page.renren.com/601444426"><img src="/static/img/focus.png" alt="关注我们" title="关注我们"><br>关注我们</a></li>
					  <li><a href="/comment"><img src="/static/img/msg.png" alt="站内留言" title="站内留言"><br>站内留言</a></li>
					  <li><a href="/about"><img src="/static/img/about.png" alt="关于本站" title="关于本站"><br>关于本站</a></li>
				  </ul>
				</div>
				<div id="declaration">
				  <img border="0" src="/static/img/osclub.png" height="40" alt="中科院开源协会" title="中科院开源协会"/><br/>
				  <div style="color: white;">如果我们的民族、我们的国家支持自由软件，弘扬自由软件精神，那么我们的民族软件产业何至于当今之现状？</div>
				</div>
			  </div>
			</div>
			<div id="mainbody">
				<div class="section">
					<h3>中科院开源协会宗旨</h3>
					<div id="zen">
						<p>
							<a href="http://www.gnu.org/"><img src="/static/img/gnu.jpg" alt="" style="float: left; margin-right: 10px;" height="88" width="88"></a>
							（一） 自由软件精神——“自由开放分享”。
							自由软件的精神领袖是Richard Matthew Stallman。
							他被人称为“最后的真正黑客”，他认为一个好的软件，应该自由地让人取用。
							软件不应该做为相互倾轧、剥削的工具。
							自由软件自诞生之日起,血液里就流淌着道德的元素,它秉承了学术自由的思想,信奉科学无国界,知识应该全人类共享。
						</p> 

						<p>
							<a href="http://www.ubuntu.com/"><img src="/static/img/ubuntu.jpg" alt="" style="float: left; margin-right: 10px;" height="88" width="88"></a>
							（二） ubuntu精神(人道待人,天下共享连接人人的信念)——"具有 ubuntu 精神的人心胸开阔，乐于助人，见贤思齐而不忌妒贤能，
							因为他或她拥有适度的自信，而这源自如下认识：
							自己属于一个更大的整体，当他人受到伤害或死去时，当他人受到折磨或压迫时，这个整体就会消失。"
							望开源协会的成员能够弘扬自由软件精神和ubuntu精神。
						</p> 
					</div>
				</div>

				<div class="section">
					<h3>什么是自由软件？</h3>
					<p>
						根据<a href="http://www.fsf.org/">自由软件基金会</a>的定义，
						<a href="http://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6">自由软件</a>
						（Free Software）是一种可以不受限制地自由使用、复制、研究、修改和分发的软件。 </p>
					<p>自由软件的英文为“free software”，“free”一词有“自由”、“免费”的双重含意，因此要如何分辨自由软件（libre）和免费软件（gratis）？ </p>
					<p><a href="http://stallman.org/">自由软件运动的创始人</a>——<a href="http://zh.wikipedia.org/wiki/%E7%90%86%E6%9F%A5%E5%BE%B7%C2%B7%E6%96%AF%E6%89%98%E6%9B%BC">理查德·斯托曼</a>提供了以下的定义：‘自由软件的重点在于自由权，而非价格。要了解其所代表的概念，你应该将“自由”想成是“言论自由”，而不是“免费啤酒”’。</p>
					<p>自由软件赋予用户四种自由:</p>
					<ol>
						<li>自由之零：不论目的为何，有使用该软件的自由。</li>
						<li>自由之一：有研究该软件如何运作的自由，并且得以修改该软件来符合用户自身的需求。取得该软件之源码为达成此目的之前提。</li>
						<li>自由之二：有重新散布该软件的自由，所以每个人都可以借由散布自由软件来敦亲睦邻。</li>
						<li>自由之三：有改善再利用该软件的自由，并且可以发表修订后的版本供公众使用，如此一来，整个社区都可以受惠。
							如前项，取得该软件之源码为达成此目的之前提。</li>
					</ol>
					<p>	如果一软件的用户具有上述四种权利，则该软件得以被称之为“自由软件”。
						也就是说，用户必须能够自由地、以不收费或是收取合理的散布费用的方式、
						在任何时间再散布该软件的原版或是改写版，在任何地方给任何人使用。
						如果用户不必问任何人或是支付任何的许可费用从事这些行为，就表示她或他拥有自由软件所赋予的自由权利。</p>
				</div>
				<div class="section">
					<h3>如何看待GNU Linux一类的自由软件？</h3> 
					<p>有些人在使用<a href="http://www.linux.org/">Linux</a>或者是<a href="http://zh.wikipedia.org/wiki/Linux">Linux系统</a>
					上面的<a href="http://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6">自由软件</a>
					(因为多数Linux发行版几乎全部是由自由软件组成的)时遇到了困难，他会抱怨:
					这个软件(自由软件，GNU linux也是自由软件)没能满足我的需求，并且他认为他有权得到这样的满足。
					如果他得到这样带有讽刺性的回答：“如果我是你，我要求退款！”，他的情绪恐怕会更糟。 </p>
					<p>要记住，你并没有付给那些软件开发者或者在线帮你提供技术指导的人任何钱。
					他们并不欠你任何东西。 Linux 是<a href="http://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6">自由软件</a>，
					所以不要用商业的眼光来对待Linux操作系统。
					<a href="http://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6">自由软件</a>的作者们从来不拉拢用户，
					他们对用户不负有任何责任。实际上在自由软件的世界里，开发者和用户并​​没有明确的界限，大家是朋友。 </p>
					<p>自由软件很可能只是满足作者和他的朋友的需要，甚至是为了好玩而创造的。
					自由软件不是完美的，自由软件承认自己有缺点，它不会自吹自擂，蒙蔽用户的耳目。
					这种对作者责任的解脱激发了作者的创造力，他们往往比背上重重包袱的商业软件结构更合理，技术更先进。 </p>
					<p>所以当你用某个自由软件遇到困难的时候，不应该埋怨软件的作者，因为他们对你并没有义务。
					你不应该把自己当成一个挑剔的顾客，而要把自己作为这个软件的顾问
					和一个和蔼的建议者，这样你才能理解作者写这个程序时的快乐，在遇到问题时向作者反映，帮助他完善这个软件，成为一个快乐的参与者。
					就像你的哥哥送你一个他用旧了的自行车，
					你应该珍惜这份友情，而不要在车坏了，或者骑车摔了一跤的时候大骂你的哥哥。
					如果你真的不能使用这种合作的心态，那么最好不要使用这个软件。 </p>
					<p>这是一种先进的文化，它包含了互相合作，科学创新的精神。
					理解这一点不是很容易，很多人往往是因为不能理解这种文化而离开<a href="http://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6">自由软件</a>。
					这对于自由软件作者来说并没有什么损失。 </p>

					<p>如果你对<a href="http://www.gnu.org/">GNU</a> Linux历史以及<a href="http://zh.wikipedia.org/wiki/%E8%87%AA%E7%94%B1%E8%BD%AF%E4%BB%B6">自由软件</a>的文化感兴趣，
					请参阅<a href="https://open-cas.googlegroups.com/attach/e9fc90596a44907a/linux%E8%B6%A3%E8%AF%9D.pdf?gda=0RndPEcAAABnvS3L_BGaQ6H7AG12LdpEufm936ZY4smwiLNvVCTbUTvlaqfHfURs7As_Gst5KnsbQwFxJw55cVwemAxM-EWmeV4duv6pDMGhhhZdjQlNAw&part=2">GNU linux 趣话</a>。</p>
				</div>
			</div>
			<div id="footer">
				<center>© 2012 中科院开源软件协会 | Chase freedom and share your wisdom.</center>
			</div>
		</div>
	</body>
</html>
