{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/login.css" %}" />{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">
<form action="/verify/" method="post" id="login-form">{% csrf_token %}
    <b>{% if reg_errors %}{{ reg_errors }}{% endif %} </b>
  <div class="form-row">
    <label for="id_username" class="required">{% trans 'Username:' %}</label>{{ form.username }}
    <input id="id_username" type="text" name="username" maxlength="30" />
  </div>
  <div class="form-row">
    <label for="id_password" class="required">{% trans 'Password:' %}</label>{{ form.password }}
    <input type="password" name="password" maxlength="20" />
  </div>
  <div class="form-row">
    <label for="id_password" class="required">{% trans '确认密码:' %}</label>{{ form.password2 }}
    <input type="password" name="password2" maxlength="20" />
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans '确认' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}

